TOKEN=<Place your token here>
NTP_SERVER=pool.ntp.org
UPLOAD_RATE=38Kbps
OPERATIONS_RATE=62Kbps
BACKEND_FQDNS=pladmed.fi.uba.ar
BACKEND_IP=157.92.58.2
BACKEND_PORT=5000
TIME_SYNC_PORT=6000
FINISH_OPERATION_PORT=6001
FINISH_TASK_PORT=6002
